@media (min-width: 576px) {
  .a {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .a {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 0px;
  }
}
.a {
  text-decoration: none;
  cursor: pointer;
}
